.question-card {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

h3 {
  padding: 3% 10%;
  text-align: center;
}

div {
  align-items: center;
  display: flex;
}
/* 
input {
  margin-right: 5%;
} */

p {
  display: flex;
  margin-left: 5%;
  width: 200px;
}
