.question-card {
  align-items: center;
  background-color: #dfeefb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  padding-bottom: 5%;
  width: 700px;
}

h3 {
  font-size: 25px;
  padding: 3% 10%;
  text-align: center;
}

div {
  align-items: center;
  display: flex;
}

p {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5%;
  width: 200px;
}

.score-save-box {
  display: flex;
  justify-content: space-between;
}

.gameover {
  color: red;
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.gameover-box {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.next-question-btn {
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;
  font-size: 15px;
  padding: 4%;
  width: 130px;
}

.save-game-btn {
  border: 1px black solid;
  border-radius: 5px;
  font-size: 15px;
  padding: 4%;
  width: 120px;
}

.save-game-btn:hover {
  background-color: aqua;
  cursor: pointer;
}

.return-home-btn {
  border: 1px black solid;
  border-radius: 5px;
  font-size: 15px;
  padding: 4%;
  width: 150px;
}

.return-home-btn:hover {
  background-color: aqua;
  cursor: pointer;
}
