article {
  align-items: center;
  display: flex;
  flex-direction: column;
}

div {
  align-items: center;
  display: flex;
}
/* 
input {
  margin-right: 5%;
} */

p {
  display: flex;
  margin-left: 5%;
  width: 200px;
}
