body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://pyxis.nymag.com/v1/imgs/25e/249/c01af4fc10fd4ed54e38b49b597666054f-4-barker.jpg");
  background-position: center;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.app-header {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 70px;
  text-align: center;
}
